@media (max-width: 992px) {
   .main_nav_container {
      display: none;
   }
   .logo {
      display: flex;
      flex: 1;
   }
   .content_menu_toggle {
      display: flex;
   }
   .header_menu {
      display: flex;
   }
   .slider_content h1:first-child {
      font-size: 72px;
   }
   .slider_content h1:nth-child(2) {
      font-size: 60px;
      margin-top: -18px;
   }
   .search {
      width: 100%;
      height: 100%;
      padding: 100px 0;
   }
   .search_tabs_container {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
   }
   .search_tabs {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column;
   }
   .search_tab {
      padding: 15px;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
   }
   .search_tab:first-child {
      padding: 15px;
      border-radius: unset;
   }

   .search_tab:last-child {
      padding: 15px;
      border-radius: unset;
   }

   .search_panel {
      margin-top: 25px;
   }

   .search_btn_wrap {
      margin-top: 50px;
   }
   .search_btn {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .search_item {
      margin-top: 25px;
   }

   .intro_items {
      margin-top: 9px;
   }

   .intro_item {
      height: 810px;
   }
   .intro_item {
      margin-top: 60px;
   }

   .offers_image_container {
      height: 708px;
      margin-bottom: 40px;
   }

   .footer_content {
      margin-bottom: 60px;
   }
}

@media (max-width: 576px) {
   .header {
      position: fixed;
      width: 100%;
      background: rgba(53, 19, 83, 0.6);

      z-index: 100;
   }

   .header .top_bar {
      visibility: hidden;
      opacity: 0;
      height: 0px;
   }

   .header .main_nav,
   .header.scrolled .main_nav {
      height: 60px;
   }

   .logo a {
      font-size: 16px;
   }
   .logo a img {
      position: relative;
      top: 2px;
      width: 16px;
      margin-right: 7px;
   }
   .header_menu_logo {
      margin-right: 4px;
      margin-bottom: 20px;
      width: 40px;
   }
   .header_menu_logo a {
      width: 100%;
   }

   .header_menu_logo a img {
      width: 100%;
   }

   .slider_content h1:first-child {
      font-size: 48px;
   }
   .slider_content h1:nth-child(2) {
      font-size: 43px;
      margin-top: -12px;
   }

   .btn a {
      line-height: 44px;
      padding-left: 36px;
      padding-right: 36px;
   }

   .btn a span {
      margin: 0;
   }

   .btn {
      height: 44px;
      border-radius: 22px;
   }

   .slider_btn {
      position: relative;
      margin-top: 45px;
   }

   .cta_title,
   .trending_title,
   .testimonials_title,
   .offers_title {
      font-size: 24px;
      margin-bottom: 6px;
   }

   .cta_slider_item {
      padding-left: 15px;
      padding-right: 15px;
   }

   .cta_text {
      font-size: 1.3rem;
      text-align: center;
   }
   .testimonials_item {
      margin-bottom: 60px;
   }
}
