.md-1 {
  --i: 1;
}
.md-2 {
  --i: 2;
}
.md-3 {
  --i: 3;
}
.md-4 {
  --i: 4;
}
.md-5 {
  --i: 5;
}
.md-6 {
  --i: 6;
}
.md-7 {
  --i: 7;
}
.md-8 {
  --i: 8;
}
.md-9 {
  --i: 9;
}
.md-10 {
  --i: 10;
}
.md-11 {
  --i: 11;
}
.md-12 {
  --i: 12;
}

.md-1,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12 {
  flex: 0 0 calc(var(--col-sz) * var(--i));
  max-width: calc(var(--col-sz) * var(--i));
}
